# Python
.venv311/
__pycache__/
sql/
*.pyc
app/backend/iot txt/
app/backend/past/
app/backend/practical txt/
app/backend/test py/

app/frontend/past/
app/frontend/practical txt/
app/frontend/test/

# Node
node_modules/

# AI / ML
datasets/
runs/
*.pt
*.onnx

# Test images
*.jpg
*.jpeg
*.png

# OS
.DS_Store
Thumbs.db